*{
    margin: 0px;
    padding: 0px; 

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(21, 21, 21);
    color: rgb(213, 212, 212);
    height: 70px; /* Sesuaikan dengan tinggi logo */
   
    position: sticky;
    top: 0px;
    opacity: 0.8;
}

.nav_link {
    display: flex;
    font-size: 18px;
    list-style-type: none;
    align-items: center; /* Supaya teks sejajar dengan logo */
}

.nav_link li {
    margin: 0 15px; /* Kurangi margin supaya lebih padat */
}

.nav_link img {
    width: 62px; /* Sesuai dengan ukuran logo */
    height: 62px;
}

.nav_link a {
    color: rgb(213, 212, 212);
    text-decoration: none;
    transition: 0.3s;
}

.nav_link a:hover {
    color: white;
    text-decoration: underline;
}

.logoml{
    background-color: rgb(21, 21, 21);
    width: 100%;
    height: 110px;
    
}


.logoml h3{
    color: rgb(213, 212, 212);

    margin-top: -100px;
    margin-left: 180px;
   
}

.logoml h4{
    color: rgb(213, 212, 212);

    margin-top: 10px;
    margin-left: 180px;
   
}
.logoml img{
    margin-left: 20px;
    

}
.background-form{
    position:relative;
    bottom: 0px;
    left: 80px;
    background-color: rgb(34, 34, 34);
    width: 500px;
    border-radius: 20px;
    margin-top: 20px;
    
    
}

.form-topup{
    font-size: 20px;
    margin-left: 30px;
    color: rgb(213, 212, 212);
}

.input-form{
    background-color: rgb(73, 73, 73);
    color: rgb(213, 212, 212) ;
}

.input-dropdown{
    background-color: rgb(73, 73, 73);
    color: rgb(213, 212, 212) ;
}

.dropdown{
    background-color: rgb(73, 73, 73);
    color: rgb(213, 212, 212) ;
}

.submit{
    background-color: rgb(73, 73, 73);
    color: rgb(213, 212, 212) ;


}

.rating{
    background-color: rgb(34, 34, 34);
    width: 305px;
    color: rgb(213, 212, 212) ;
    
    position: relative;
    right: -700px;
    bottom: 300px;
    border-radius: 10px;
    margin-top: -10px;
   
}
.judul-rating{
    font-size: 25px;
    margin-left: 10px;
    margin-top: 10px;
    
}

.angka-rating{
    margin-left: 10px;
    font-size: 50px;
}
.rating-img{
    
    display: flex;
   
}

.customer-service{
    background-color: rgb(34, 34, 34);
    display: flex;
    width: 305px;
    height: 100px;
    position: relative;
    bottom: 250px;
    left: 700px;
    border-radius: 10px;
    margin-top: -25px;
}

.customer-text{
    color: rgb(213, 212, 212);
    font-size: 13px;
    position: absolute;
    top: 30px;
    right: 50px;
}

.customer-text2{
    margin-top: 5px;
}

.contact{
    background-color: rgb(34, 34, 34);
    width: 300px;
    height: 130px;
    position: relative;
    right: -1100px;
    bottom: 478px;
    border-radius: 10px;
    
}

.contact img {
    
    margin-top: 23px;
    margin-left: 10px;
    
}

.contact p{
    color:rgb(213, 212, 212) ;
   
    
}

